:root {
  --mantle-color: rgb(24, 24, 37);
  --base-color: rgb(30, 30, 46);
  --text-color: rgb(205, 214, 244);
  --subtext1-color: rgb(186, 194, 222);
  --yellow-color: rgb(249, 226, 175);
  --surface0-color: rgb(49, 50, 68);
  --surface1-color: rgb(69, 71, 90);
  --surface1-translucid-color: rgba(69, 71, 90, 0.5);
  --overlay1-color: rgb(127, 132, 156)	;
  --mauve-color: rgb(203, 166, 247);
  --mauve-translucid-color: rgba(203, 166, 247, 0.6);
  --green-color: rgb(166, 227, 161);
  --green-translucid-color: rgba(166, 227, 161, 0.6);
  --red-color: rgb(243, 139, 168);
  --red-translucid-color: rgba(243, 139, 168, 0.6);
}
