:root {
  --mantle-color: rgb(230, 233, 239);
  --base-color: rgb(239, 241, 245);
  --text-color: rgb(76, 79, 105);
  --subtext1-color: rgb(92, 95, 119);
  --yellow-color: rgb(223, 142, 29);
  --surface0-color: rgb(208, 212, 222);
  --surface1-color: rgb(188, 192, 204);
  --surface1-translucid-color: rgba(188, 192, 204, 0.2);
  --overlay1-color:rgb(140, 143, 161)	;
  --mauve-color: rgb(136, 57, 239);
  --mauve-translucid-color: rgb(136, 57, 239, 0.5);
  --green-color: rgb(64, 160, 43);
  --green-translucid-color: rgba(64, 160, 43, 0.6);
  --red-color: rgb(210, 15, 57);
  --red-translucid-color: rgba(210, 15, 57, 0.6);
}
