/* full Aileron font family */
@import url('https://use.typekit.net/ptx1jwg.css');

/* full JetBrains Mono font family */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


html, body {
    height: 100%;
}

:root {
    /* font families */
    --font-sans: 'Aileron', sans-serif;
    --font-mono: 'JetBrains Mono', 'Consolas', 'Ubuntu Mono', monospace;
    /* font sizes */
    --font-size-large: large;
    --font-size-larger: larger;
    --font-size-x-large: x-large;
    --font-size-xx-large: xx-large;
    --font-size-xxx-large: xxx-large;
    --font-size-medium: medium;
    --font-size-small: small;
    --font-size-x-small: x-small;
    --font-size-xx-small: xx-small;
    
    /* paddings */
    --padding-tiny: 0.3rem;
    --padding-small: 0.6rem;
    --padding-medium: 1.0rem;
    --padding-large: 1.4rem;
    --padding-x-large: 1.8rem;

    /* margins */
    --margin-tiny: 0.4rem;
    --margin-small: 0.6rem;
    --margin-medium: 1.0rem;
    --margin-large: 1.4rem;
    --margin-x-large: 1.8rem;
    
    /* gaps */
    --gap-tiny: 0.6rem;
    --gap-small: 1.0rem;
    --gap-medium: 1.8rem;
    --gap-large: 2.4rem;

    /* borders */
    --border-radius-medium: 0.6rem;
    --border-radius-large: 1.0rem;
    --border-radius-x-large: 1.4rem;

}

/* Margin */
.margin-small {
    margin: var(--margin-small);
}
.margin-medium {
    margin: var(--margin-medium);
}
.margin-large {
    margin: var(--margin-large);
}

/* Margin top */
.margin-top-small {
    margin-top: var(--margin-small);
}
.margin-top-medium {
    margin-top: var(--margin-medium);
}
.margin-top-large {
    margin-top: var(--margin-large);
}

/* Margin bottom */
.margin-bottom-small {
    margin-bottom: var(--margin-small);
}
.margin-bottom-medium {
    margin-bottom: var(--margin-medium);
}
.margin-bottom-large {
    margin-bottom: var(--margin-large);
}

.padding-small {padding: var(--padding-small);}
.padding-medium {padding: var(--padding-medium);}
.padding-large {padding: var(--padding-large);}

/*Font weights*/
.font-weight-100 {font-weight: 100}
.font-weight-200 {font-weight: 200}
.font-weight-300 {font-weight: 300}
.font-weight-400 {font-weight: 400}
.font-weight-500 {font-weight: 500}
.font-weight-600 {font-weight: 600}
.font-weight-700 {font-weight: 700}
.font-weight-800 {font-weight: 800}
.font-weight-900 {font-weight: 900}

/*Gaps*/
.gap-tiny{gap: var(--gap-tiny); }
.gap-small{gap: var(--gap-small); }
.gap-medium{gap: var(--gap-medium); }
.gap-large{gap: var(--gap-large); }

.font-mono {font-family: var(--font-mono);}
.font-sans {font-family: var(--font-sans);}

/*Font sizes*/
.font-size-xx-small {
    font-size: var(--font-size-xx-small);
}
.font-size-x-small {
    font-size: var(--font-size-x-small);
}
.font-size-small {
    font-size: var(--font-size-small);
}
.font-size-medium {
    font-size: var(--font-size-medium);
}
.font-size-large {
    font-size: var(--font-size-large);
}
.font-size-larger {
    font-size: var(--font-size-larger);
}
.font-size-x-large {
    font-size: var(--font-size-x-large);
}
.font-size-xx-large {
    font-size: var(--font-size-xx-large);
}
.font-size-xxx-large {
    font-size: var(--font-size-xxx-large);
}
html {
    font-family: var(--font-sans);
}

body {
    font-family: var(--font-sans);
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

dl {
    margin: unset;
}

dt {
    font-style: italic;
    margin: unset;
}

dd {
    margin-inline-start: unset;
    margin: unset;
}

input {
    background: transparent;
    color: var(--subtext1-color);
    border: 1px solid var(--surface1-translucid-color);
    background-color: var(--surface1-translucid-color);
    font-family: var(--font-sans);
    padding: var(--padding-small);
    /* margin: var(--margin-small); */
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-large);
    margin-inline-start: 2rem;
    min-width: 26rem;
}

input:focus, input:active {
    border: 2px solid var(--accent-color);
}

.wide {
    width: 100%;
}

option {
    font-family: var(--font-sans);
}

label {
    font-family: var(--font-sans);
    font-weight: 300;
}

.small-button {
    padding: var(--padding-tiny);
}
button {
    /* margin: var(--margin-large); */
    padding: var(--padding-small);
    font-weight: 300;
    font-size: var(--font-size-medium);
    font-family: var(--font-sans);
    background: transparent;
    color: var(--subtext1-color);
    background-color: var(--surface1-translucid-color);
    cursor: pointer;
    transition: transform 0.2s ease;
    border-radius: var(--border-radius-large);
    border: solid 2px var(--accent-translucid-color);
    display: flex;
    flex-direction: row;
    gap: var(--gap-tiny);
}

button:hover{
    background-color: var(--accent-translucid-color);
    color: var(--base-color);
    transform: scale(1.2);

}

nav > ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
    list-style-type: none;
    justify-content: center; 
}

.nav-link {
    font-weight: 300;
    font-style: normal;
    font-size: x-large;
    padding: var(--padding-small);
    transition: transform 0.2s ease;
}

.nav-link:hover {
    transform: scale(1.2);
    background-color: var(--accent-translucid-color);
    color: var(--base-color);  
    border-radius: var(--border-radius-medium);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
}

section {
    padding: var(--padding-small);
}


@media only screen and (max-width: 600px) {
    textarea { min-width: 100%; margin-inline-start: 1rem; }
    input { min-width: 100%; margin-inline-start: 1rem; }
    section  {
        padding: var(--padding-small);
    }
}

pre {
    font-family: var(--font-mono);
    white-space: pre-wrap;
}


hr {
    display: block;
    text-align: center;
    align-self: center;
    height: 1px;
    width: 80%;
    border: 0;
    border-top: 1px solid var(--surface1-color);
    margin: var(--margin-small);
    padding: 0;
}


.simple-entity-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: var(--surface1-translucid-color);
    padding: var(--padding-medium);
    border-radius: var(--border-radius-large);
    max-width: 13rem;
}



h1 {
    color: var(--subtext1-color);
    font-size: var(--font-size-xx-large);
    margin: unset;
}

h2 {
    color: var(--subtext1-color);
    font-size: var(--font-size-x-large);
    margin: unset;
}

h3 {
    color: var(--subtext1-color);
    font-size: var(--font-size-x-large);
    margin: unset;
}

h4 {
    color: var(--text-color);
    font-size: var(--font-size-large);
    margin: unset;
}



/* Flex */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.align-content-center {
    align-content: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.direction-column {
    flex-direction: column;  
}
.direction-row {
    flex-direction: row;  
}
.direction-column-reverse {
    flex-direction: column-reverse;  
}
.direction-row-reverse {
    flex-direction: row-reverse;  
}


.col {
    flex: 1;
}

.items-center {
    align-items: center
}

/* Text */
.italic {
    font-style: italic;
}


.text-align-center {
    text-align:center;
}

/* Slider */ 

.slider {
    gap: var(--gap-tiny);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.simple-image {
    border-radius: var(--border-radius-large);
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}

.simple-image-larger {
    border-radius: var(--border-radius-large);
    width: 18rem;
    height: 18rem;
    object-fit: cover;
} 


/* Colors */
html, body {
    background: var(--base-color);
    color: var(--text-color);
}

.warning-section {
    background: var(--yellow-color);
    border-radius: var(--border-radius-medium);  
}

.warning-text {
    color: var(--base-color);
}

select {
    background: var(--surface0-translucid-color);
    font-family: var(--font-sans);
    padding: var(--padding-small);
    border-radius: var(--border-radius-large);
    color: var(--subtext1-color);
    border: 1px solid var(--surface1-translucid-color);
    background-color: var(--surface1-translucid-color);
    font-size: var(--font-size-large);
    font-weight: 300;
}

textarea {
    background: var(--surface0-translucid-color);
    font-family: var(--font-sans);
    padding: var(--padding-small);
    border-radius: var(--border-radius-medium);
    color: var(--subtext1-color);
    border: 1px solid var(--surface1-translucid-color);
    background-color: var(--surface1-translucid-color);
    font-size: var(--font-size-large);
    font-weight: 500;
    margin-inline-start: 2rem;
    min-width: 26rem;
    min-height: 14rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 300;
}

a:visited {
    color: var(--text-color);
}

a > h1, a > h2, a > h3, a > h4 {
    color: var(--text-color);
}

/* media queries*/

@media (max-width: 400px) {
    .flex {
        display: block;
    }
}

details {
    cursor: pointer;
    margin-top: var(--margin-large);
}

summary {
    font-weight: 700;
    cursor: pointer;
    font-size: var(--font-size-large);
}

.align-items-baseline {
    align-items: baseline;
}

.width-min-content { width: min-content; }


.background-success {
    background: var(--green-translucid-color);
}

.background-accent {
    background: var(--accent-translucid-color);
}

.color-error {
    color: var(--red-translucid-color);
}

.align-items-flex-start {
    align-items: flex-start;

}
.align-items-flex-end {
    align-items: flex-end;
}

.align-self-flex-end {
    align-self: flex-end;
}

.border-success {
    border: solid 2px var(--green-color);
}


.highlight-header {
    transition: transform 0.2s ease;
    color: var(--text-color);
}

.highlight-header:hover {
    color: var(--accent-color);
    transform: scale(1.2);
}

.accent-color {
    color: var(--accent-color) !important;
}

a.accent-color:hover {
    text-decoration: underline;
}

.card-title {
    max-width: 16rem;
    text-align: center;
}

.no-gap {
    gap: 0;
}

.white-space-break-spaces {
    white-space: break-spaces;
}

.block {
    display: block;
}

.big-mono-text-area {
    font-family: var(--font-mono);
    min-width: 85vw;
    min-height: 40vh;
}

.button-for-input {
    border-radius: 0rem 1rem 1rem 0rem;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
}

iframe {
    
    border-radius: var(--border-radius-large);
    min-width: 85vw;
    min-height: 75vh;
}

.page-title {
    font-weight: 300;
    color: var(--overlay1-color);
}
